@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Reset de margem */
* {
    margin: 0;

}

.container_sep_info_dash {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


/* Container de dashboard */
.container_dash {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    /* Habilita o scroll vertical */
    overflow-x: hidden;
    /* Impede scroll horizontal */
}

#sub_opcao_selecionada {
    font-size: 12px;
    margin-left: 2%;
    font-weight: bold;
    text-decoration: underline;
}

#opcao_selecionada {
    background-color: #00ee20;
    border-radius: 5px;
}

.container_cards_kpi {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kpi_card {
    width: 20%;
    height: 15vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1),
        /* Leve sombra no lado direito */
        -2px 0 5px rgba(0, 0, 0, 0.1),
        /* Leve sombra no lado esquerdo */
        0 4px 10px rgba(0, 0, 0, 0.1);
    /* Forte sombra na base inferior */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.container_dados_kpi {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#barra_cor_status_bom {
    height: 85%;
    width: 3%;
    background-color: green;
    border-radius: 40px;
}

#barra_cor_status_erro {
    height: 85%;
    width: 3%;
    background-color: red;
    border-radius: 40px;
}

.container_kpi_img {
    width: 95%;
    height: 90%;
    display: flex;
}

.kpi_dados {
    width: 80%;
    height: 90%;
    background-color: white;
    font-family: 'Inria Sans', sans-serif;
    margin-left: 2%;
}

.kpi-nome {
    font-size: 16px;
}

.kpi-num {
    font-size: 25px;
}

.container_img_kpi {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: end;
}

.fundo_img_kpi {
    width: 90%;
    height: 45%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo_img_kpi img {
    width: 95%;
    height: 100%;
}

/* status do mes está comentado/cancelado */
.container_comparacao_kpi {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
}

.img_status_mes {
    width: 15%;
    height: 60%;
}

.img_status_mes img {
    width: 100%;
    height: 100%;
}

#status_diferenca_mes_bom {
    font-family: 'Inria Sans', sans-serif;
    color: #3BFF00;
    font-size: 10px;
}

#valor_diferenca_bom {
    font-family: 'Inria Sans', sans-serif;
    color: #3BFF00;
    font-size: 10px;
    margin-right: 3%;
}

#status_diferenca_mes_ruim {
    font-family: 'Inria Sans', sans-serif;
    color: red;
    font-size: 10px;
}

#valor_diferenca_ruim {
    font-family: 'Inria Sans', sans-serif;
    color: red;
    font-size: 10px;
    margin-right: 3%;
}

.container_comparacao_kpi {
    font-family: 'Inria Sans', sans-serif;
    font-size: 10px;
}

.container_dashboard_produtos_mais_vendidos {
    /* background-color: black; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_dashboard {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: start;
    width: 50%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container_dash_dados {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 90%;
    /* background-color: blue; */
}

#dash_produtos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}

#dash_produtos canvas {
    width: 90%;
    background-color: #F7F9FB;
}

a {
    margin-left: 2%;
    color: white;
    text-decoration: none;
}
