/* Tudo na página */
* {
    margin: 0;
    padding: 0;
}

body {
    background: 
        linear-gradient(to bottom, #ffd77aa7 0%, #f7c14200 40%),
        url('/ZKFood/assets/background-cadastro.png') no-repeat right center,
        linear-gradient(to bottom, #FFD87A 0%, #F7C242 50%, #FFB400 100%); 
    background-size: contain, contain, cover;
    font-family: "Roboto", sans-serif;
}


/* Navbar superior */

.header {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagem {
    height: 10vh;
    margin-right: 5%;
    margin-bottom: 0.5%;
}

.org-nav-bar {
    display: flex;
    margin-left: 5%;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    width: 60%;
    align-items: center;
    list-style: none;
    color: #393D46;
    justify-content: space-between;
}

.navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.botoes-header {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.botao-entrar {
    background: none;
    border: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.botao-cadastre {
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 180px;
    color: #ffffff;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
}

.paginas:hover {
    cursor: pointer;
}

.header button:hover {
    cursor: pointer;
}

/* Formulário Cadastro */
.banner-cadastro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 37px;
    left: 100px;
}

.formulario-cadastro {
    height: 500px;
    width: 675px;
    background-color: white;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-bebas-responsivo{
    font-size: 0px;
}

.divisao-cadastro {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.texto-cadastro {
    margin-left: 15px;
}

.texto-cadastro span {
    display: flex;
    height: 150px;
    align-items: center;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    color: #ffffff;
}

/* Estilos do formulário */
.formulario-cadastro label {
    margin-bottom: 5px;
    font-size: 16px;
    display: flex;
    align-items: start;
}

.formulario-cadastro #email,
.formulario-cadastro #password,
.formulario-cadastro #nome,
.formulario-cadastro #cpf,
.formulario-cadastro #telefone,
.formulario-cadastro #confirm-password {
    width: 270px;
    height: 40px;
    padding: 10px;
    border: 1px solid #818181;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.formulario-cadastro #email::placeholder,
.formulario-cadastro #password::placeholder,
.formulario-cadastro #nome::placeholder,
.formulario-cadastro #cpf::placeholder,
.formulario-cadastro #telefone::placeholder,
.formulario-cadastro #confirm-password::placeholder {
    color: #818181;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 70%;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-password {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.forgot-password:hover {
    color: #68A5FF;
}

.botao-cadastro {
    width: 387px;
    height: 48px;
    padding: 10px;
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

.botao-cadastro:hover {
    background-color: #0056b3;
}

.div-lembrar {
    display: none;
}

.nome-grupo,
.email-grupo,
.senha-grupo,
.cpf-grupo,
.telefone-grupo,
.confirmaSenha-grupo {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}