body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    margin-top: 20px;
}

header {
    padding: 10px 20px;
    background-color: white;
}

.div_inicial {
    background: linear-gradient(0deg, rgba(255, 215, 121, 1) 0%, rgba(247, 194, 66, 1) 0%);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-section {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
}

.arrow-back img {
    height: 25px;
    width: auto;
    margin-right: 10px;
}

.logo img {
    height: 50px;
    width: auto;
}

.date-time {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.orders {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.orders-section {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    /* Centraliza o texto */
}

.balc {
    color: #0DB300;
}

.mes {
    color: #FFB400;
}

.enty {
    color: #FF9400;
}

.entrega {
    border-top: 10px;
}

.mesa {
    border-top: 10px;
}

.balcao {
    border-top: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* Alinha os cartões no centro */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(143, 143, 143);
    /* Borda preta */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 250px;
    /* Largura fixa */
    height: auto;
    /* Altura fixa */
    box-sizing: border-box;
}

.card h2 {
    margin: 0;
    font-size: 1.5rem;
}

.entrega .card h2 {
    color: #FF9400;
}

.mesa .card h2 {
    color: #FFB400;
}

.balcao .card h2 {
    color: #0DB300;
}

.card-icon img {
    height: 50px;
    margin-bottom: 10px;
}

.card-title h2 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

p {
    margin: 10px 0 0 0;
    font-size: 1rem;
    text-align: center;
    /* Centralizar texto das observações */
}

.order-category {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-category h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
}

.orange {
    color: #FFA500;
}

.yellow {
    color: #FDD835;
}

.green {
    color: #4CAF50;
}

.order-card {
    width: 240px;
    border: solid 1px black;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produtos-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.orders div {
    display: flex;
    flex-direction: column;
}

.orders div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.orders-section {
    justify-content: start2;
    align-items: center;
}

.order-id {
    font-size: 40px;
    color: inherit;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
}

.order-card p {
    margin: 5px 0;

}