* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* overflow: hidden; */
}

a {
    margin-left: 2%;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.menu-container {
    width: 20%;
    height: 100%;
}

.main-content {
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container_cards_kpi {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 3%;

}

.kpi_card {
    width: 28%;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1),
        /* Leve sombra no lado direito */
        -2px 0 5px rgba(0, 0, 0, 0.1),
        /* Leve sombra no lado esquerdo */
        0 4px 10px rgba(0, 0, 0, 0.1);
    /* Forte sombra na base inferior */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.container_dados_kpi {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#barra_cor_status_bom {
    height: 85%;
    width: 3%;
    background-color: #ffb90a;
    border-radius: 40px;
}

#barra_cor_status_erro {
    height: 85%;
    width: 3%;
    background-color: red;
    border-radius: 40px;
}

.container_kpi_img {
    width: 95%;
    height: 90%;
    display: flex;
}

.kpi_dados {
    width: 80%;
    height: 90%;
    background-color: white;
    font-family: 'Inria Sans', sans-serif;
    margin-left: 2%;
}

.kpi-nome {
    font-size: 16px;
}

#div_compra_balcao {
    font-size: 35px;
    margin-left: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

#div_compra_entrega {
    font-size: 35px;
    margin-left: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

#div_compra_presencial {
    font-size: 35px;
    margin-left: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

.container_img_kpi {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: end;
}

.fundo_img_kpi {
    width: 70%;
    height: 35%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo_img_kpi img {
    width: 95%;
    height: 100%;
}

.top-receitas {
    overflow-y: auto;
    max-height: 200px;
}

.top-receitas table {
    width: 80%;
    border-collapse: collapse;
}

thead, tbody {
    display: table-row-group;
}

.top-receitas th,
.top-receitas td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.div_baixo {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.top-receitas th {
    background-color: #f2f2f2;
}

.top-receitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    overflow-y: unset;
}

.dashReceitaAnual {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.dashReceitaAnual h2 {
    text-align: center;
    margin-bottom: 50px;
}

.top-receitas h2 {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#receitaMensalTipoPedidoChart {
    margin-top: 30px;
    width: 100%;
}

#receitaMensalTipoPedidoChart h2 {
    margin-top: 30px;
}

.dahsMaisVendidos {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 30px;
}

canvas {
    margin-bottom: 20px;
}

.barra_cor_status_bom {
    background-color: #ffb90a;
}

/* Import e export */

.container-import-export{
    width: 100%;
    height: 60vh;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.banner-botoes{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
}

.banner-botoes img{
    height: 30px;
    margin-right: 10px;
}

.container-import-export h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0%;
    display: flex;
    margin-left: 10px;
}

.container-botoes{
    display: flex;
}

.divisao{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisao button{
    text-align: start;
}

.button-import-receitas-csv{
    width: 95%;
    border: none;
    cursor: pointer;
    background-color: #FFB90A;
}

.button-import-receitas-txt{
    width: 95%;
    border: none;
    cursor: pointer;
    background-color: #FFC857;
}

.button-export-motoboy{
    width: 95%;
    border: none;
    cursor: pointer;
    background-color: #FFA726;
}

.button-import-motoboy{
    width: 95%;
    border: none;
    cursor: pointer;
    background-color: #FF8C00;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-import-motoboy p{
    font-size: 13px;
}

.divisao h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0%;
}

.button-import-receitas-csv, .button-import-receitas-txt, .button-import-motoboy, button{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    height: 100px;
    
}


.button-import-tabela {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-image: url('../assets/export.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    border: 0.5px solid rgb(127, 127, 127);
}

.button-import-tabela:hover {
    transform: scale(1.1);
}

.container_filtro {
    width: 37%;
    height: 30px;
    /* background-color: blue; */
    display: flex;
    margin-left: 45%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.botao-filtro-pedido{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 7px;
    background-color: #68A5FF;
    color: #ffffff;
    border: none;
    margin-right: 20%;
    font-family: 'Bebas Neue', sans-serif;
}

.container_filtro input{
    border-radius: 5px;
    height: 25px;   
    width: 35%;
    margin-left: 5px;
    border: 1px solid black;
}

.container_filtro p{
    font-size: 12px;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0%;
}

.filtro{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
}

.filtro input, .filtro-central input{
    border-radius: 5px;
    height: 100%;   
    width: 25%;
    margin-left: 5px;
    border: 1px solid black;
}

.filtro p, .filtro-central p{
    margin-left: 6px;
    font-size: 12px;
}

.filtro-central{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-bottom: 15px;
}