/* Tudo na página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* Alinhamento */
.full{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 90%;
    height: auto;
}

/* Navbar superior */
.header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagem {
    height: 10vh;
    margin-right: 5%;
    margin-bottom: 0.5%;
}

.org-nav-bar {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    width: 60%;
    align-items: center;
    list-style: none;
    color: #393D46;
    justify-content: space-between;
}

.navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.botoes-header {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.botao-entrar {
    background: none;
    border: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.paginas-agora {
    border-bottom: 5px solid #FFB400;
    font-weight: 700;
}

.botao-cadastre {
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 180px;
    color: #ffffff;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
}

.paginas:hover {
    cursor: pointer;
}

.header button:hover {
    cursor: pointer;
}

/* Banner elipse */
.elipse {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute; 
    top: 0;
    right: 0;
    z-index: 1;
}

.elipse img {
    max-width: 100%;
}

/* Imagem sobre a elipse */
.banner-inicial {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.componentes-banner-inicial{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 55vh;
    justify-content: space-between;
}

.banner-inicial h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 80px
}

.letra-amarela{
    color: #FFB400;
}

p{
    font-family: "Roboto", sans-serif;
    color: #4B4B4B;
    line-height: 30px;
    font-size: 18px;

}

.banner-inicial img {
    margin-right: 5%;
    max-width: 60%;
    height: auto; 
    z-index: 2;
}

.botao-azul {
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 15vw;
    color: #ffffff;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
}
