.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listra-amarela {
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: #FFD700;
    /* Amarelo */
    z-index: 1;
}

.card-perfil {
    width: 60vw;
    height: 70vh;
    background-color: white;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botao-logoff{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 25px;
}

.botao-logoff button {
    background-image: url('../assets/sign-out.png'); 
    background-color: white;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    width: 35px; 
    height: 40px; 
    border: none; 
    cursor: pointer; 
    outline: none; 
}

.botao-logoff button:hover {
    opacity: 0.5; /* Adiciona um efeito visual ao passar o mouse */
}

.card-perfil img {
    width: 50px;
    margin: 1%;
}

.card-perfil h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-bottom: 5%;
}

.container-usuario {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.info-usuario {
    width: 30%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.info-usuario p,
.info-usuario input {
    font-size: 1rem;
    color: #333;
}

.info-usuario input {
    width: 100%;
    height: 25px;
    border: 1px solid #818181;
    border-radius: 5px;
    box-sizing: border-box;
}

.botao-azul {
    background-color: #1E1E1E;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 20%;
    color: #ffffff;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-azul:focus {
    background-color: #68A5FF;
}

