
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    padding: 10px 20px;
}
.div_incial{
    background: linear-gradient(0deg, rgba(255, 215, 121, 1) 0%, rgba(247, 194, 66, 1) 0%);
   
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-back img {
    height: 25px;
    width: auto;
}

.logo img {
    height: 50px; 
    width: auto;
    margin-left: 30px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.search-bar input {
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #ccc;
    width: 500px;
    
}

.user-profile {
    background-color: #dcdcdc;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.user-initials {
    font-size: 1rem;
    font-weight: bold;
}

nav { padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.nav-center {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-center li {
    margin-right: 20px;
}

.nav-center li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-icon img {
    height: 50px;
    margin-bottom: 10px;
}

.card-title h2 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}
