body {
    font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 40px;
}

.highlight {
  color: #FFA500;
}

.status-overview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.status-card {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
}

.status-card img {
  width: 74px;
  margin-bottom: 10px;
}

.status-card p {
  font-size: 16px;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}

.counter {
  font-size: 56px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-family: "Roboto", sans-serif;
}

.orange-bg {
  background-color: #FFA500;
  color: white;
}

.yellow-bg {
  background-color: #FDD835;
  color: white;
}

.green-bg {
  background-color: #4CAF50;
  color: white;
}

.orders-section {
  display: flex;
  justify-content: space-between;
}

.order-category {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-category h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
}

.orange {
  color: #FFA500;
}

.yellow {
  color: #FDD835;
}

.green {
  color: #4CAF50;
}

.order-card {
  width: 240px;
  border: solid 1px black;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produtos-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.botoes-container{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.orange-border {
  border: 2px solid #FFA500;
}

.yellow-border {
  border: 2px solid #FDD835;
}

.green-border {
  border: 2px solid #4CAF50;
}

.order-id {
  font-size: 40px;
  color: inherit;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
}

.order-card p {
  margin: 5px 0;
  
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-top: 5px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.cancel {
  background-color: #000;
  color: #fff;
}

button.accept {
  background-color: #FFA500;
  color: #fff;
}

button.edit {
  background: url(/ZKFood/assets/editar.png);
  background-size: cover;
  width: 35px;
  color: #fff;
}

button.done {
  background-color: #FDD835;
  color: #fff;
}

button.deliver {
  background-color: #4CAF50;
  color: #fff;
}

/* Popup */
/* Estilizando o pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;background: rgba(0, 0, 0, 0.7);
}

.popup-background {
  height: 412px;
  width: 743px;
  background: linear-gradient(to bottom, #FFB90A 0%, #FFD779 100%);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 332px;
  width: 663px;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-title {
  margin: 0;
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
}

#motivo-cancelamento {
  margin-top: 10px;
  width: 90%; /* Ajuste a largura para caber melhor */
  font-size: 18px; /* Tamanho de fonte */
  border: 1px solid #ccc; /* Borda */
  border-radius: 5px; /* Borda arredondada */
  padding: 5px; /* Padding interno */
}

.confirmar-cancelamento {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmar-cancelamento:hover {
  background-color: #FFD779; /* Cor ao passar o mouse */
}

.close {
  width: 39px;
  height: 39px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 39px;
}

button.confirmar {
  background: url(/ZKFood/assets/verifica.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0;
}

button.deletar {
  background: url(/ZKFood/assets/excluir.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0;
}

.produto-container {
  display: flex;
}

.produto-container p {
  margin-right: 10px;
}