@media screen and (max-width: 440px) {

    .container{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .lista{
        width: 95%;
    }
    
    .card-cardapio{
        height: 25vh;
        margin-top: 8%;
    }
    
    .conteudo-cardapio{
        height: 25vh;
    }
    
    .conteudo-cardapio h2 {
        width: 95%;
        font-size: 25px;
    }
    
    .conteudo-cardapio p {
        line-height: 18px;
        font-size: 14px;
    }
    
    .conteudo-cardapio h1{
        font-size: 40px;
    }
    
    .imagem-cardapio img{
        width: 100%;    
        height: 15vh;
    }
    
    .botao-lixo img {
        height: 2vh; 
        width: 2vh; 
    }
    
    .seletor-quantidade button {
        width: 5vw;
    }
    
    /* Card de entrega */
    .container-entrega{
        width: 90%;
        height: 30vh;
    }
    
    h2{
        font-size: 40px;
    }
    
    /* Estilo base do radio */
    .custom-radio {
        padding-left: 8vw; /* Espaçamento ao lado do círculo */
        margin-bottom: 0vh; /* Espaçamento entre os itens */
        font-size: 18px;
    }
    
    .custom-radio input ~ span {
        height: 5vw; 
        width: 5vw; 
    }

    .card-pagamento{
        width: 90%;
        height: auto;
    }

    .botao-azul {
        font-size: 25px;
    }
    
    .botao-azul:hover{
        background-color: #002865;
    }
    
    /* Carrossel de favoritos */
    .container-carrossel{
        height: 90vh;
        margin-top: 10%;
    }

}