@media screen and (max-width: 440px) {

/* Status Pedido */

.caminho p{
    font-size: 14px;
}

.titulo-status {
    margin-top: 15%;
}

.container-status {
    align-items: center;
    height: 30vh;
    margin-bottom: 10%;
}

.status-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    width: auto;
    height: 20vh;
}

.status-card img {
    height: 6vh;
}
.status-card p {
    font-size: 15px;
    width: 80%;
}

/* Cards */
.container-cards {
    width: 90%;
}

.card-endereco {
    width: 100%;
    height: auto;
    padding: 0%;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
    border: none;
    transition: none;
}

.titulo-pai {
    width: 100%;
    height: 8vh;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
}

.card-endereco:hover {
    transform: none;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
}

.card-endereco img {
    height: 30px;
}

.container-endereco {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-endereco {
    height: 30px;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.titulo-endereco span {
    color: #FFB90A;
    margin-top: 10px;
}

.conteudo-pai {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacao-endereco {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.informacao-endereco span {
    font-size: 18px;
}

.endereco-conteudo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.botoes-endereco {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}

.botao-excluir {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 50px;
    width: 239px;
    background-color: #fff;
    color: #000000;
    border-radius: 10px;
    border: #000000 solid 1px;
    box-shadow: 0px 0px 5px #625d5d;
}

.botao-editar {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 50px;
    width: 239px;
    background-color: #68A5FF;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px #625d5d;
}

/* Cards */

.card-divisao {
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    margin-top: 40px;
    gap: 30px;
}

.card-divisaoFilho {
    height: auto;
    width: 100%;
    display: flex;
}

.card-item {
    height: auto;
}

.card-cardapio {
    height: auto;
    padding: 5px;
    transition: none;
}

.card-cardapio:hover {
    transform: none;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
}

.conteudo-cardapio {
    height: auto;
    justify-content: space-around;
    margin-left: 5%;
}

.conteudo-cardapio h2 {
    font-size: 25px;
}

.conteudo-cardapio p {
    line-height: 20px;
    font-size: 14px;
    font-weight: 0;
}

.conteudo-cardapio h1 {
    font-size: 35px;
}

.imagem-cardapio {
    margin-right: 3%;
    width: 60%;
}

.imagem-cardapio img {
    height: 160px;
}

.card-valor {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
    transition: none;
    margin-bottom: 20%;
}

.card-valor:hover {
    transform: none;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
}

.container-valor {
    width: 90%;
    height: auto;
    justify-content: start;
}

.valor-titulo {
    height: 7vh;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.itens-lista {
    margin-top: 5%;
    margin-bottom: 5%;
}

.item-pedido {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.botao-valor {
    align-items: start;
}

.cancelar-pedido {
    height: 4vh;
    width: 40%;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 5%;
    display: block;
}

.cancelar-pedido:hover {
    transform: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: white;
}

.valor-amarelo {
    font-size: 35px;
}

.total-pai{
    height: auto;
    align-items: center;
}

/* Iniciando o avaliações */

.banner-avaliacoes {
    display: none;
}
 
/* Iniciando o avaliações */
.total-pai-avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 8%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-cards-avaliacoes {
    width: 95%;
    height: auto;
    overflow-y: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
    margin-bottom: 10%;
}

.titulo-avaliacoes{
    position: unset;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.titulo-avaliacoes h1 {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    color: #000000;
}

.amarelo {
    color: #FFB90A;
}

.card-avaliacao {
    width: 100%;
    max-width: 100%;
    height: 250px;
    background-color: #ffffff;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.2);
}

.card-imagem {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.card-imagem img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.card-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card-texto h1 {
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    margin: 0;
}

.estrelas {
    display: flex;
    margin-bottom: 10px;
}

.estrela {
    font-size: 35px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.estrela.ativa {
    color: #FFB90A;
}

.card-texto textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.botao-enviar {
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 90%;
    color: #ffffff;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Adiciona a transição suave */
}

.botao-enviar:hover {
    background-color: #002865;
}

/* CSS para card de ERRO ou pedido cancelado */

.card-notificacao {
    width: 90%;
    padding: 10px;
    border-width: 15px; 
}

.conteudo-notificacao h2{
    font-size: 18px;
    margin-bottom: 5%;
}

.card-notificacao img{
    width: 50px;
}

/* CSS para card sem pedidos */

.card-semPedido h1{
    font-size: 35px;
}

.botao-azul {
    width: 50%;
}

.qtd-itens {
    margin-top: 10px;
    margin-bottom: 10px;
}
}