* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

/* NAVBAR */

.container_navbar {
    width: 100%;
    height: 24vh;
    background: rgb(255, 180, 0);
    background: linear-gradient(0deg, rgba(247, 194, 66, 1) 0%, rgba(255, 180, 0, 1) 50%);
    display: flex;
    flex-direction: column;
}

.parte_superior_navbar {
    width: 100%;
    height: 70%;
    /* background-color: red; */
    display: flex;
}

.img_voltar {
    width: 15%;
    display: flex;
    justify-content: center;
    /* background: white; */
    align-items: center;
}

.img_voltar a {
    height: 50%;
    align-items: center;
    /* background: white; */
    display: flex;
    transition: height 2s ease;
}

.img_voltar a:hover{
    height: 71%;
}

.img_voltar img {
    height: 50%;
}

.img_logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: white; */
}

.img_logo img {
    height: 80%
}

.container_pesquisa {
    width: 50%;
    /* background: blue; */
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    height: 30%;
    width: 80%;
    justify-content: center;
}

.search-container input {
    border: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    outline: none;
}

.search-container img {
    height: 80%;
    margin-right: 2%;
    margin-left: 2%;
}

.search-container button {
    border: none;
    background-color: darkgray;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.search-container input:focus {
    border: none;
    /* Remove a borda ao focar */
    box-shadow: none;
    /* Remove qualquer sombra que possa aparecer ao focar */
}

.container_favoritos_carrinho {
    width: 10%;
    height: 100%;
    /* background-color:white; */
    display: flex;
}

.container_favoritos {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_favoritos img {
    height: 35%;
}

.container_carrinho {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_carrinho img {
    height: 35%;
}

.container_favoritos a {
    height: 100%;
    align-items: center;
    /* background: white; */
    display: flex;
}

.container_carrinho a {
    height: 100%;
    align-items: center;
    /* background: white; */
    display: flex;
}

.profile_home {
    width: 15%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_home a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-radius: 50%;

}

.parte_inferior_navbar {
    width: 100%;
    height: 30%;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 80%;
    list-style: none;
    /* Remove os marcadores da lista */
    margin: 0;
    padding: 0;
    display: flex;
    /* Exibe os itens em linha */
    justify-content: space-around;
    /* Centraliza o menu horizontalmente */
}

.menu li {
    margin: 0;
}

.menu a {
    display: block;
    padding: 15px 20px;
    /* Espaçamento interno para os itens do menu */
    color: black;
    /* Cor do texto */
    text-decoration: none;
    /* Remove o sublinhado dos links */
    font-size: 20px;
    text-align: center;
    /* Centraliza o texto dentro dos links */
    font-family: 'Roboto', sans-serif;
    transition: font-size 2s ease;
}

.menu a:hover {
    font-size: 22px;
    font-weight: bold;
}

.tela_atual p{
    font-weight: bold;
    border-bottom: 5px solid white;
    border-radius: 5px;
}

/* BANNER CARROSSEL */

.container_carrossel {
    width: 100%;
    height: 75vh;
    /* background: black; */
    display: flex;
    overflow: hidden; /* Garante que a imagem não vaze para fora do contêiner */
}

.carrossel {
    width: 100%;
    height: 100%;
    display: flex; /* Para alinhar a imagem corretamente se necessário */
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta a imagem para cobrir completamente o contêiner */
}

/* Acesse nosso cardápio */
.container_acesse_nosso_cardapio{
    /* background-color: blue; */
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.div_frase_acesse{
    width: 80%;
    height: 80%;
    /* justify-content: center; */
    align-items: end;
    display: flex;
    font-size: 60px;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.span_cardapio{
    margin-left: 7px;
    color: #F7C242;
}

/* Imagens Home*/
.container_imagens_home{
    width: 100%;
    height: 60vh;
    /* background: gray; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div_imagen_esquerda_home{
    width: 45%;
    height: 90%;
    /* background: red; */
    border-radius: 15px;
}


.div_imagen_esquerda_home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.div_imagens_direita_home{
    width: 45%;
    height: 90%;
    /* background: blue; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.div_imagen_direita_cima_home{
    width: 100%;
    height: 48%;
    /* background-color: red; */
    border-radius: 15px;
}

.div_imagen_direita_cima_home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.div_imagen_direita_baixo_home{
    width: 100%;
    height: 48%;
    /* background-color: red; */
    border-radius: 15px;
}

.div_imagen_direita_baixo_home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.container_butao_saiba_mais{
    width: 100%;
    height: 10vh;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}

.div_butao_saiba_mais{
    width: 94%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: end;
}

.div_butao_saiba_mais button{
    background: black;
    color: white;
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 12%;
    height: 70%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 2s, color 2s;
}

.div_butao_saiba_mais button:hover{
    background-color: darkblue;
}

.container_div_imagem_animada{
    width: 100%;
    height: 90vh;
}