@media only screen and (max-width: 700px) {
    

    /* Navbar superior */
    .header {
        position: fixed;
        z-index: 9999;
        margin-top: 20px;
        height: 83px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-header {
        width: 90%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-header img {
        height: 55px;
        width: auto;
    }

    .org-nav-bar {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }

    .botoes-header {
        display: flex;
    }

    .botao-sublinhado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botao-entrar {
        height: 30px;
        width: 69px;
        font-size: 20px;
        font-weight: 0;
    }

    .sublinhado-linha {
        display: none;
    }

    .botao-cadastre {
        background-color: #68A5FF;
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 90px;
        color: #ffffff;
        font-size: 20px;
        font-family: "Bebas Neue", sans-serif;
        box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
    }

}