/* Tudo na página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

/* Navbar superior */

.header {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagem {
    height: 10vh;
    margin-right: 5%;
    margin-bottom: 0.5%;
}

.org-nav-bar {
    display: flex;
    margin-left: 5%;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    width: 60%;
    align-items: center;
    list-style: none;
    color: #393D46;
    justify-content: space-between;
}

.navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.botoes-header {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.botao-entrar {
    background: none;
    border: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.paginas-agora {
    border-bottom: 5px solid #FFB400;
}

.botao-cadastre {
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 180px;
    color: #ffffff;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
}

.paginas:hover {
    cursor: pointer;
}

.header button:hover {
    cursor: pointer;
}