/* Tudo na página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

/* Navbar superior */

.header {
    position: fixed;
    z-index: 9999;
    margin-top: 20px;
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-header {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header img {
    width: 180px;
    height: 83px;
}

.org-nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    height: auto;
    align-items: center;
    list-style: none;
    color: #393D46;
    justify-content: space-evenly;
}

.navbar li {
    margin-left: 50px;
}

.navbar li a {
    width: auto;
    height: 100px;
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.botoes-header {
    display: flex;
}

.botao-sublinhado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-entrar {
    background: none;
    border: none;
    height: 20px;
    width: 111px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sublinhado-linha {
    background-color: #FFB400;
    height: 6px;
    width: 77px;
    border-radius: 10px;
}

.botao-cadastre {
    background-color: #68A5FF;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 180px;
    color: #ffffff;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);
}